<h1>Hi, <%= @user.username %></h1>
<h2>Your Trees</h2>
<br>
<% @user.trees.each do |user_tree|%>
    <ul><a href="/trees/<%= user_tree.id %>"> <%= user_tree.nickname%></a></ul>
<% end%>
<br>
<h2>Recent Journal Entries</h2> <a href="/journals/new">add journal</a>
<br>
<% @user.journals.each do |journal|%>
    <ul><a href="/journals/<%= journal.id %>"> <%= journal.journal_time%> - <%= journal.notes %></a></ul>
<% end %>
<h2>Recently Added Trees</h2> <a href="/trees/new">add tree</a>
<br>
<% @trees.each do |tree|%>
    <img src="<%=tree.image%>">
<% end %>
<br>
