<div class="title">List O' Trees</div>


    <% @recent_trees.each do |tree| %>
    <div class="tree_index">
        <ul><img src="<%= tree.image %>">
            <br>
            <b><%= tree.nickname %></b> #<%= tree.tree_map_no %>
            <br>
            Species: <%= tree.species %></ul>
            <br>
            <a href="/trees/<%= tree.id %>">more details</a>
    </div>
    <% end %>
