
<div class="title">About <%= @tree.nickname %></div>

<div class="banner_image"><img src="<%= @tree.image %>"></div>
<br>
<b>NYC Parks ID:</b> #<%= @tree.tree_map_no %>
<br>
<br>
<b>Species:</b> <%= @tree.species %>
<br>
<br>
<b>Journal Entries:</b>
<br>
    <% @tree.journals.each do |journal| %>
        <ul><a href="/journals/<%= journal.id %>"> <%= journal.journal_time%></a> : "<i><%= journal.notes %></i>"</ul><br>
    <% end %>

<% if Helper.clearance?(session, @tree) %>
<%= @error %>
    <form action='/journals/new' method="get">
        <input id="hidden" type="hidden" name="tree_id" value="<%= @tree.id %>"> 
        <input type="submit" id="Add Journal" value="Add Journal">
    </form>
    <br>
    <a href="/trees/<%= @tree.id%>/edit">Edit Tree</a>
    <br>
    <form action='/trees/<%= @tree.id %>/delete' method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">    
        <input type="submit" id="Delete Tree" value="Delete Tree">
    </form>
<% else %>

<% end %>