
<h2><%= @user.username %> - <%= @journal.journal_time %></h2>
<br>
<img src="<%= @journal.tree.image %>">
<br>
Date Watered: <%= @journal.date_watered %>
<br>
Activities Achieved: <%= @journal.activities %>
<br>
Health: <%= @journal.health_rating %> Litter: <%= @journal.litter_rating %>
<br>
Notes: <%= @journal.notes %>

<% if Helper.is_logged_in?(session) %>
<%= @error %>
    <br>
    <a href="/journals/<%= @journal.id%>/edit">Edit Journal entry</a>
    <br>
    <form action='/journals/<%= @journal.id %>/delete' method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">    
        <input type="submit" id="Delete Tree" value="Delete Tree">
    </form>
<% else %>

<% end %>