
<div class="title">
    Entry by <%= @user.username %> on <%= @journal.journal_time %>
</div>

<div class="article">
<br>
<img src="<%= @journal.tree.image %>">
<br>
<b>Date Watered:</b> <%= @journal.date_watered %>
<br>
<b>Activities Achieved:</b> <%= @journal.activities %>
<br>
<b>Health:</b> <%= @journal.health_rating %>
<br>
<b>Litter:</b> <%= @journal.litter_rating %>
<br>
<b>Notes:</b> <%= @journal.notes %>
</div>

<% if Helper.clearance?(session, @journal) %>
<%= @error %>
    <br>
    <div class="buttons">
    <form action='/journals/<%= @journal.id%>/edit' method="get">
        <input type="submit" id="Edit Journal" value="Edit Journal">
    </form>
    </div>

    <div class="buttons">
    <form action='/journals/<%= @journal.id %>/delete' method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">    
        <input type="submit" id="Delete Entry" value="Delete Entry">
    </form>
    </div>
<% else %>

<% end %>